<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>

<h1> Добро пожаловать!</h1>
<td th:text="${user.name}"> имя</td>
<td th:text="${user.lastname}"> фамилия</td>

<h2>Список ваших занятий:</h2>
<div class="container mt-5">

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            <!-- Итерация по списку администраторов и вывод данных в таблицу -->
            <tr th:each="lesson : ${lessons}">
                <td th:text="${lesson.id}"></td>
                <td th:text="${lesson.name}"></td>
                <td th:text="${#dates.format(lesson.date, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>


        <div>
            <a th:href="@{/pc/selectLesson}" class="btn btn-primary "> Записаться на занятие </a>>

        </div>

    </form>
</div>















<!--<a th:href="@{/pc/selectLesson}" class="btn btn-primary "> просмотреть список доступных занятий </a>>-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
        integrity="sha384-4s1a0kVlAuVqLr5wgc0Od9UgeE1fQfA3q3u8kXa3Z3ROV6z9TkBSSUnQlmh/j5j"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyOaQDFKssQquT2A6Pz8LXkUmZIpq0kUKP"
        crossorigin="anonymous"></script>
</html>