<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lesson Selection</title>
</head>
<body>

<form method="post" action="/pc/selectLesson">
  <table>
    <thead>
    <tr>
      <th>Название</th>
      <th>Дата</th>
      <th>Время</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${lessons}">
      <td th:text="${lesson.name}">Название занятия</td>
      <td th:text="${#dates.format(lesson.date, 'yyyy-MM-dd')}">Дата </td>
      <td th:text="${#dates.format(lesson.date, 'HH:mm')}">Время</td>
      <td>
        <input type="radio"  name="lessonId" th:value="${lesson.id}" />
      </td>
    </tr>
    </tbody>
  </table>

  <button type="submit">Записаться</button>
</form>

</body>
<body>
<a th:href="@{/pc}" class="btn btn-primary "> Вернуться</a>>
</body>
</html>